@model ProtienTrackerRedis.Models.User
@{
    ViewBag.Title = "NewUser";
}

<h2>Create User</h2>

@using (Html.BeginForm("Save", "Users", FormMethod.Post))
{
    <p>User name:</p>
    <input type="text" id="userName" name="userName" value="@Model.Name" />
    <p>Goal</p>
    <input type="text" id="goal" name="goal" value="@Model.Goal" />

    <input type="submit" value="Save" />
    <input type="hidden" name="userId" value="@Model.Id" />
}