@model ProtienTrackerRedis.Models.User
@{
    ViewBag.Title = "Index";
}

@if (Model != null)
{
    <h2>Protein Tracker</h2>
    <p>@Model.Name</p>
    @using (Html.BeginForm("Index", "Tracker", FormMethod.Post))
    {
        <p>Amount</p>
        <input type="text" name="Amount" />
        <input type="submit" name="Enter" />
        <input type="hidden" name="userId" value="@Model.Id" />
    }

    <p>
        Total: @Model.Total
    </p>
    <p>
        Goal: @Model.Goal
    </p>
}